extends common/layout

block content 
  main.main
    section.main__initial-block
      img.main__phillip-martin(src='./images/philip-martin.png' alt='Phillip Martin')
      .main__lifestyle-block
        .main__lifestyle-additional-block
          .main__lifestyle-firstline-block
            p.main__lifestyle-date 10/10/2020
            p.main__p-lifestyle lifestyle
          h1.main__main-lifestyle-text At vero eos et accusamus et
          p.main__lifestyle-text
            | odio dignissimos ducimus qui blanditiis praesentium voluptatum
            | deleniti
            | atque corrupti quos dolores et quas molestias excepturi sint occaecati
          .main__button-read-more
            p.main__read-more read more
    section.main__featured
      h1.main__featured-heading featured
      .main__heading-articles-block
        article.main__heading-article
          img.main__heading-image(src='./images/article-1.png' alt='')
          .main__information-block
            p.main__article-date 10/10/2020
            p.main__article-lifestyle lifestyle
          h2.main__article-heading
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit
          p.main__description
            | ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus
            | asperiores repellat.
        article.main__heading-article
          img.main__heading-image(src='./images/article-2.png' alt='')
          .main__information-block
            p.main__article-date 10/10/2020
            p.main__article-lifestyle lifestyle
          h2.main__article-heading
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit
          p.main__description
            | ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus
            | asperiores repellat.
      .main__featured-other-articles-block
        article.main__other-article
          img.main__other-image(src='./images/article-3.png' alt='')
          .main__information-block
            p.main__article-date 10/10/2020
            p.main__article-lifestyle lifestyle
          h2.main__other-article-heading
            | At vero eos et accusamus et iusto
        article.main__other-article
          img.main__other-image(src='./images/article-4.png' alt='')
          .main__information-block
            p.main__article-date 10/10/2020
            p.main__article-lifestyle lifestyle
          h2.main__other-article-heading At vero eos et
        article.main__other-article
          img.main__other-image(src='./images/article-5.png' alt='')
          .main__information-block
            p.main__article-date 10/10/2020
            p.main__article-lifestyle lifestyle
          h2.main__other-article-heading
            | At vero eos et accusamus et iusto
      .main__button-see-all
        p.main__see-all see all
    section.main__subscribe-block
      img.main__subscribe-image(src='./images/subscribe-image.png' alt='')
      .main__subscribe
        h1.main__subscribe-date issue 22 - may 2020
        .main__subscribe-button
          p.main__subscribe-text subscribe now
    section.main__interviews
      h1.main__interviews-heading interviews
      .main__other-articles-block
        article.main__other-article
          img.main__other-image(src='./images/interviews-1.png' alt='')
          .main__information-block
            p.main__article-date 10/10/2020
            p.main__article-interviews inverviews
          h2.main__other-article-heading
            | At vero eos et accusamus et iusto
        article.main__other-article
          img.main__other-image(src='./images/interviews-2.png' alt='')
          .main__information-block
            p.main__article-date 10/10/2020
            p.main__article-interviews inverviews
          h2.main__other-article-heading
            | At vero eos et
        article.main__other-article
          img.main__other-image(src='./images/interviews-3.png' alt='')
          .main__information-block
            p.main__article-date 10/10/2020
            p.main__article-interviews inverviews
          h2.main__other-article-heading
            | At vero eos et accusamus et iusto
      .main__second-button-see-all
        p.main__see-all see all
    section.main__news
      h1.main__news-heading news
      .main__other-articles-block
        article.main__other-article
          img.main__other-image(src='./images/news-1.png' alt='')
          .main__information-block
            p.main__article-date 10/10/2020
            p.main__article-news news
          h2.main__other-article-heading
            | At vero eos et accusamus et iusto
        article.main__other-article
          img.main__other-image(src='./images/news-2.png' alt='')
          .main__information-block
            p.main__article-date 10/10/2020
            p.main__article-news news
          h2.main__other-article-heading
            | At vero eos et
        article.main__other-article
          img.main__other-image(src='./images/news-3.png' alt='')
          .main__information-block
            p.main__article-date 10/10/2020
            p.main__article-news news
          h2.main__other-article-heading
            | At vero eos et accusamus et iusto
      .main__second-button-see-all
        p.main__see-all see all
    