header.header
  .header__nav-cross
    .header__button-nav
      img.header__cross_1(src='./images/Line-1.png', alt='')
      img.header__cross_2(src='./images/Line-2.png', alt='')
    nav.header__dropdown-menu
      ul
        li.li-margin
          a.header__nav-link(href='#') Home
        li.li-margin
          a.header__nav-link(href='#') Preferences
        li.li-margin
          a.header__nav-link(href='#') Contacts
        li.li-margin
          a.header__nav-link(href='#') About
        li.li-margin
          a.header__nav-link(href='#') Out blog
        li.li-margin
          a.header__nav-link(href='#') Map
        li.li-margin
          a.header__nav-link(href='#') Career
  img.header__logo(src='./images/main-logo.png', alt='Suffix')
